spring:
  main:
    web-application-type: reactive
  application:
    name: tasks
  cloud:
    function:
      web:
        path: /functions
server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: local

